@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
body {
  font-family: 'Bruno Ace SC', cursive;
  background-color: #000000;
}

h1 {
  text-align: center;
  color: #8c00ff;
}

.board {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.board-row {
  display: flex;
}

.board-row div {
  width: 100px;
  height: 100px;
  margin: 0 10px 10px 0;
  background-color: #00c3ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
}

.board-row div:hover {
  background-color: #ff00bf;
  box-shadow:
    inset 0 0 50px #00ffdd,     
    inset 20px 0 80px #00c3ff,   
    inset -20px 0 80px #00c3ff,  
    inset 20px 0 300px #00c3ff, 
    inset -20px 0 300px #00c3ff, 
    0 0 50px #00c3ff,           
    -10px 0 80px #00c3ff,       
    10px 0 80px #00c3ff;
}

.x {
  color: #ff00dd;
}

.o {
  color: #00ffbf;
}

.win {
  background-color: #4caf50;
}

.win .x,
.win .o {
  color: #fff;
}

.home-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 30px auto;
  background-color: #00c3ff;
  color: #333;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  text-align: center;
  line-height: 50px;
}

.home-btn:hover {
  background-color: #ff00bf;
  box-shadow:
    inset 0 0 50px #00ffdd,      
    inset 20px 0 80px #00c3ff,   
    inset -20px 0 80px #00c3ff,  
    inset 20px 0 300px #00c3ff,  
    inset -20px 0 300px #00c3ff, 
    0 0 50px #00c3ff,            
    -10px 0 80px #00c3ff,        
    10px 0 80px #00c3ff;
}
